<mat-card class="user">
  <mat-card-header class="user__header">
    <div class="user__contnet">
      <img class="user__image" src="../../../assets/img/male.webp" />
      <div class="user__details">
        <h2 class="user__detail-name">Name</h2>
        <span class="user__detail-email">Email</span>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>Address:</mat-card-title>
    <div class="user__address">
      <span>Street</span>
      <span>ZipCode</span>
      <span>City</span>
    </div>
  </mat-card-content>
</mat-card>
