<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
  <!-- Name -->
  <div class="name-content">
    <!-- Firstname -->
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>Firstname</mat-label>
      <input
        [disabled]="isLoading"
        [(ngModel)]="user.firstname"
        matInput
        placeholder="Firstname"
      />
      <!-- <mat-hint>Please enter a Firstname</mat-hint> -->
    </mat-form-field>
    <!-- Lastname -->
    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input
        [disabled]="isLoading"
        [(ngModel)]="user.lastname"
        matInput
        placeholder="Lastname"
      />
      <!-- <mat-hint>Please enter a Lastname</mat-hint> -->
    </mat-form-field>
  </div>
  <!-- Date -->
  <div>
    <!-- Birthdate -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Birth Date</mat-label>
      <input
        [disabled]="isLoading"
        [(ngModel)]="birthDate"
        matInput
        placeholder="Birth Date"
        [matDatepicker]="picker1"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <!-- <mat-hint>Please enter a Date</mat-hint> -->
    </mat-form-field>
  </div>
  <!-- Address -->
  <div>
    <!-- Steet & HouseNo -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Street & House No.</mat-label>
      <input
        [disabled]="isLoading"
        [(ngModel)]="user.street"
        matInput
        placeholder="Street & House No."
      />
      <!-- <mat-hint>Please enter a Lastname</mat-hint> -->
    </mat-form-field>
  </div>

  <div>
    <!-- ZipCode -->
    <mat-form-field appearance="outline" class="mr-16">
      <mat-label>Zip code</mat-label>
      <input
        [disabled]="isLoading"
        [(ngModel)]="user.zipCode"
        matInput
        placeholder="Zip code"
      />
      <!-- <mat-hint>Please enter a Lastname</mat-hint> -->
    </mat-form-field>
    <!-- City -->
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input
        [disabled]="isLoading"
        [(ngModel)]="user.city"
        matInput
        placeholder="City"
      />
      <!-- <mat-hint>Please enter a Lastname</mat-hint> -->
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button [disabled]="isLoading" mat-button (click)="onChancel()">
    Chancel
  </button>
  <button
    [disabled]="isLoading"
    mat-button
    cdkFocusInitial
    (click)="onSaveUser()"
  >
    Save
  </button>
</div>
