<h1 mat-dialog-title>Edit Address</h1>
<div mat-dialog-content>
  <!-- Address -->
  <fieldset>
    <legend>Adreess:</legend>
    <!-- Steet & HouseNo -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Street & House No.</mat-label>
      <input
        [(ngModel)]="editAddressUser.street"
        matInput
        placeholder="Street & House No."
      />
    </mat-form-field>
    <!-- ZipCode -->
    <mat-form-field appearance="outline" class="mr-16">
      <mat-label>Zip code</mat-label>
      <input
        [(ngModel)]="editAddressUser.zipCode"
        matInput
        placeholder="Zip code"
      />
    </mat-form-field>
    <!-- City -->
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [(ngModel)]="editAddressUser.city" matInput placeholder="City" />
    </mat-form-field>
  </fieldset>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onChancel()">
    Chancel
  </button>
  <button
    mat-raised-button
    color="primary"
    cdkFocusInitial
    (click)="onEditAddress()"
  >
    Save
  </button>
</div>
